<vega-sidenav footnote="MFE Navigation bar" open-by-default="open">
  <vega-sidenav-link icon="fas fa-hippo fa-lg" url="/andrii/">
    Andrii
  </vega-sidenav-link>

  <vega-sidenav-link icon="fas fa-cat-space fa-lg" url="/gaukhar">
    Gaukhar
  </vega-sidenav-link>

  <vega-sidenav-link icon="fas fa-crab fa-lg" url="/petro">
    Petro
  </vega-sidenav-link>

  <vega-sidenav-group icon="fas fa-table-layout fa-lg" label="Layout">
    <vega-sidenav-link url="#">All at once</vega-sidenav-link>
  </vega-sidenav-group>
</vega-sidenav>
